/* estilosindex.css actualizado */
body {
  font-family: sans-serif;
  text-align: center;
  margin-top: 50px;
  overflow: hidden; /* Elimina el scroll */
}

.background-pattern {
    background-color: #fef3c7;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23a98c69' fill-opacity='0.1'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 0V4H4v4H0v2h4v4h2V6h4V4H6zM30 60v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V26h-2v4h-4v2h4v4h2V30h4V28h-4zM60 34v-4h-2v4H54v2h4v4h2v-4h4v-2H60zm0-30V0h-2v4H54v2h4v4h2V6h4V4H60z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.perfil {
  display: inline-block;
  margin: 30px; /* Aumentado el margen */
  cursor: pointer;
  background-color: #ffffff;
  border: 2px solid #78350f;
}

.perfil img {
  border: 5px solid #78350f;
  border-radius: 50%;
  width: 180px; /* Aumentado tamaño */
  height: 180px; /* Aumentado tamaño */
  transition: transform 0.3s ease;
}

.perfil img:hover {
  transform: scale(1.05);
  border-color: #fbbf24;
}

.perfil p {
  margin-top: 15px; /* Aumentado margen */
  font-weight: bold;
  font-size: 1.1em; /* Aumentado tamaño */
  color: #4b3b2a;
}